@using Microsoft.AspNetCore.Http;
@using Mugi.Web.Extensions
@using Mugi.Web.Model
@{
    List<AdvertisementModel> advertisementModel = new List<AdvertisementModel>();
    advertisementModel = ViewBag.AdvertisementModels;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mugiwara</title>
    <link rel="stylesheet" href="~/css/semantic_ui/semantic.css" />
    <link rel="stylesheet" href="~/css/semantic-custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.bxslider.css" />
    <link rel="stylesheet" href="~/css/calendar.min.css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/semantic.js"></script>
    <style>
        .ui.search .prompt {
            border-radius: 0.3rem;
        }
    </style>

</head>

<body>
    <div class="ui grid" style="padding-top:0px">
        <div class="one wide column">
        </div>
        <div class="ui fourteen wide column segment" style="margin-top:0px">
            <div class="ui stackable menu">
                <a class="header item" href="@Url.Action("Index","Staff")">
                    <img src="~/images/logo.png">
                </a>
                @*<a class="item" href="/Product/AboutUs">
                        Liên hệ
                    </a>*@
                @*<a class="item" href="/Product/Map">
                        Bản đồ
                    </a>
                    <a class="item" href="/Product/Feedback">
                        Góp ý
                    </a>*@
                @{
                    //CustomerModel customer = Context.Session.GetCustomer("customer");
                    //var count = Context.Session.GetInt32("count");
                    SessionStaffModel session = Context.Session.GetStaffSession("sessionStaff");
                }
                @if (session == null || session.StaffName == null)
                {
                    <a class="item" href="@Url.Action("LoginStaff","LoginStaff")">Đăng nhập</a>
                }
                else
                {
                    <a class="item" href="@Url.Action("LogoutStaff","Staff")">Đăng xuất</a>
                    <a class="item" href="@Url.Action("StaffProfile","Staff")">Chào @session.StaffName</a>
                }

            </div>
            <div class="ui stackable grid">
                <div class="four wide column">

                    <div class="item">
                        <div class="ui search layout">
                            <div class="ui icon input" style=" width:100%">
                                <input class="prompt" type="text" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui vertical accordion menu" style="width:100%">

                        @*<a class="item" href="@Url.Action("AddProduct","Staff")">

                                Nhập sản phẩm
                            </a>*@
                        <a class="item" href="@Url.Action("ListOrder","Staff")">

                            Danh sách đơn hàng
                        </a>
                        <a class="item" href="@Url.Action("GoodsReceipt","Staff")">

                            Nhập hàng
                        </a>
                        <a class="item" href="@Url.Action("ListProduct","Staff")">

                            Danh sách sản phẩm
                        </a>

                        @*<a class="item" href="@Url.Action("AddSupplier","Staff")">

                                Nhập nhà sản xuất
                            </a>*@
                        @*<a class="item" href="@Url.Action("Report","Staff")">

                                Report
                            </a>*@
                        @*<a class="item" href="@Url.Action("AddProperty","Staff")">

                                Nhập thuộc tính
                            </a>*@
                        <a class="item" href="@Url.Action("AddPropertyDetails","Staff")">

                            Nhập chi tiết thuộc tính
                        </a>
                        <a class="item" href="@Url.Action("AddCategory","Staff")">

                            Loại sản phẩm
                        </a>
                        @*<a class="item" href="@Url.Action("AddSubCategory","Staff")">

                                Nhập Subcategory
                            </a>*@
                        <a class="item" href="@Url.Action("AddPromotion","Staff")">

                            Nhập khuyến mãi
                        </a>
                        <a class="item" href="@Url.Action("AddAdvertisement","Staff")">

                            Nhập quảng cáo
                        </a>

                        <a class="item" href="@Url.Action("RegisterStaff","Staff")">

                            Tạo tài khoản
                        </a>
                        <a class="item" href="@Url.Action("Statistical","Staff")">
                            Thống kê doanh thu
                        </a>
                        @*<a class="item" href="@Url.Action("ShopOrder","Staff")">
                                Đặt hàng
                            </a>*@
                    </div>
                </div>


                @RenderBody()



            </div>
        </div>

        <div class="one wide column">
        </div>
    </div>

    @* Footer *@
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Group 1</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Link One</a>
                        <a href="#" class="item">Link Two</a>
                        <a href="#" class="item">Link Three</a>
                        <a href="#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Group 2</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Link One</a>
                        <a href="#" class="item">Link Two</a>
                        <a href="#" class="item">Link Three</a>
                        <a href="#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Group 3</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Link One</a>
                        <a href="#" class="item">Link Two</a>
                        <a href="#" class="item">Link Three</a>
                        <a href="#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/images/logo.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>



    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/semantic.js"></script>
    <script src="~/js/jquery.bxslider.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script type="text/javascript" src="~/js/calendar.min.js"></script>
    <script type="text/javascript" src="~/js/jspdf.min.js"></script>
    <script type="text/javascript" src="~/js/html2canvas.js"></script>
    <script type="text/javascript" src="~/js/jspdf.plugin.autotable.js"></script>
    <script>

        $(document).ready(function () {
            $('only-number').keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }

                if ($(this).val.length > 20) {
                    e.preventDefault();
                }

                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            })




            $('.bxslider').bxSlider({
                auto: true,
                autoControls: true
            });

            $('.ui.search.layout')
                .search({
                    apiSettings: {
                        url: '/Staff/SearchProduct?name={query}'
                    },
                    fields: {
                        results: 'results',
                        title: 'productName',
                        url: 'url'
                    }
                    //minCharacters: 3
                })
                ;


            $('.insert-name').attr('maxlength', '30');
            $('.insert-description').attr('maxlength', '1000');
            $('.insert-price').attr('maxlength', '10');
            $('.insert-price').keypress(function (event) {
                return event.charCode >= 48 && event.charCode <= 57
            })
            $('.insert-phone').attr('maxlength', '11');
            $('.insert-phone').keypress(function (event) {
                return event.charCode >= 48 && event.charCode <= 57
            })
            $('.insert-mail').attr('maxlength', '40');
            $('.insert-percent').attr('maxlength', '3');
            $('.insert-percent').keypress(function (event) {
                return event.charCode >= 48 && event.charCode <= 57
            })
        })

    </script>



    @RenderSection("scripts", required: false)

</body>
</html>