@using Mugi.Web.Model;
@model StatisticalModel
@{
    ViewData["Title"] = "Statistical";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="twelve wide column">
    <div class="ui grid stackable">
        <div class="sixteen wide column">
            <header style="text-align:center;">
                <h2>Thống kê doanh thu</h2>
            </header>
        </div>
        <div class="sixteen wide column" style="text-align:center;">
            <form asp-action="Statistical" asp-controller="Staff" method="post">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui calendar" id="rangestart">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" asp-for="StartDate" placeholder="Ngày bắt đầu">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui calendar" id="rangeend">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" asp-for="EndDate" placeholder="Ngày kết thúc">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <button type="submit" class="ui button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="sixteen wide column" style="text-align:center;">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Tổng bán (VNĐ)</th>
                        <th>Tổng chi (VNĐ)</th>
                        <th>Lợi nhuận (VNĐ)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var table = ViewBag.Table as IEnumerable<StatisticalTableModel>;
                    }
                    @if (table != null)
                    {
                        foreach (var row in table)
                        {
                            <tr>
                                <td>@row.ProductId</td>
                                <td>@row.ProductName</td>
                                <td>@row.TotalSell.ToString("#,##")</td>
                                <td>@row.TotalPay.ToString("#,##")</td>
                                @{var temp = row.TotalSell - row.TotalPay;}
                                <td>@temp.ToString("#,##")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('#rangestart').calendar({
                type: 'date',
                endCalendar: $('#rangeend')
            });
            $('#rangeend').calendar({
                type: 'date',
                startCalendar: $('#rangestart')
            });
            //$('#rangestart').calendar('clear')
            //$('#rangeend').calendar('clear')

        })

    </script>
}


